<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'adminlogin.css' %}">
</head>
<body>
    <div class="flex-container">
        <div class="flex-box">
            <h1 class="background-clip">Admin Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="box">
                    <div class="input">
                        <span>User Name </span>
                        <input type="text" name="username" placeholder="User Name">
                    </div>

                    <div class="input">
                        <span>Password</span>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <div class="button">
                        <input type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>