<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approved List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pending-style.css' %}">
</head>
<body>
    <div class="flex-container">
        <div class="flex-box">
        <h1 class="background-clip">Approved Details</h1>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for i in value %}
                <tr>
                    <td>{{i.Name}}</td>
                    <td>{{i.Address}}</td>
                    <td>{{i.Username}}</td>
                    <td>{{i.Password}}</td>
                    <td>{{i.Status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>